* {
  box-sizing: border-box;
}

body {
  background-color: #24353F;
  font-family: 'Titillium Web', sans-serif;
}

.home {
  height: 75vh;
}

input {
  background-color: transparent !important;
  color: white !important;
}

input::placeholder {
  color: rgb(182, 182, 182) !important;
}

h1 {
  color: rgb(23, 162, 184);
  font-size: 40px;
}

.form {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

a.move {
  text-decoration: none;
}

a.move:hover {
  text-decoration: underline;
}

.btn {
  background-color: transparent;
  border-color: #17a2b8;
  color: #17a2b8;
}

.btn:focus {
  box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
}

.btn:hover {
  color: white;
  border-color: #17a2b8;
  background-color: #17a2b8;
}

input:focus {
  box-shadow: 0 0 0 0 transparent !important;
}

.btn-home {
  color: gray;
  border-color: #FFC107;
}

.btn-home:hover {
  background-color: #FFC107;
  border-color: #FFC107;
}

@media all and (min-width: 1400px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}